#add_user
{
    display: none;
    background-color: white;
    width: 500px;
    height: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -250px;
    padding: 15px;
    z-index: 1000;
}

.gray_overlay
{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(113, 113, 113, 0.8);
    z-index: 2;
}

#close_add_user
{
    width: 20px;
    height: 20px;
    margin: -15% 0 0 103%;
}