.error{
    color: red;
    font-style: italic;
}

   .table>tbody>tr>td.day-of-month:hover{
       background-color: #cccccc!important;
   }

   .table>tbody>tr:hover>td, .table>tbody>tr:hover>th{
       background-color:inherit;
   }
.table>tbody>tr:hover>td.table-danger, .table>tbody>tr:hover>th{
    background-color: #F5C6CB;
}